# required modules

# pip3.9 install "fastapi[all]"
# pip3.9 install lxml
# pip3.9 install "uvicorn[standard]" gunicorn 

export CELLAPI_PYTHON=/bin/python3.9
export CELLAPI_ROOT_PATH=/
export CELLAPI_PORT=8082

# if undefined, hostname will be used instead of value below
export CELLAPI_SERVER=

export SOLR_ULIMIT_CHECKS=false
export CELLAPI_SOLR_PORT=8983
export CELLAPI_SOLR_SEARCH_URL="http://localhost:$CELLAPI_SOLR_PORT/solr/pamcore1/select"

 # virtuoso service related parameters
export CELLAPI_SPARQL_URL="http://localhost:8890/sparql"
export CELLAPI_VIRT_ROOT_PATH="/work/tools/virtuoso-opensource"
export CELLAPI_VIRT_INI_FILE="/work/cellapi/virtuoso.ini"

