# required modules
# pip3.9 install "fastapi[all]"
# pip3.9 install lxml

export CELLAPI_PYTHON=/usr/local/bin/python3.9
export CELLAPI_ROOT_PATH=/cellapi/
export CELLAPI_PORT=8077

# if undefined, hostname will be used instead of value below
export CELLAPI_SERVER=

export SOLR_ULIMIT_CHECKS=false
export CELLAPI_SOLR_PORT=8988
export CELLAPI_SOLR_SEARCH_URL="http://localhost:$CELLAPI_SOLR_PORT/solr/pamcore1/select"

